<header id="header" ic-ctrl="headerCtrl">

    <!--[if lt IE 8]>
    <p class="browsehappy">浏览器版本太低，为了更好的浏览体验，请更换或升级浏览器!</p>
    <![endif]-->

    <div id="logo-box" class="hr">

        <div class="inline fl">
            <a href="{#$www_url#}"><i class="icon icon-logo"></i></a>
            &nbsp;&nbsp;&nbsp;
            <b class="inline" style="border-left:solid 1px #ced1d6; height: 36px; vertical-align: middle; "></b>
            &nbsp;&nbsp;&nbsp;
            <a href="http://www.chinascopefinancial.com.cn" class="btn btn-2" target="_blank">数据库</a>
        </div>

        <div class="inline search">
            <div class="lgp-2" style="line-height: 1.5;">
                <i class="btn icon icon-search"></i>
                <input type="text"
                       placeholder="公司搜索"
                       class="input-text"
                       ic-type-ahead="topSearch"
                       ic-on-type-complete="topSearch.complete"
                       ic-source-ajax="/search/company"
                       ic-submit-method="post"/>
                <!-- 输入提示列表 -->
                <div ic-role-list="topSearch" ic-tpl="topSearch">
                    <ul class="select-list" ic-init="list=model" ic-if="list">
                        <li ic-for="i,v in list" ic-class="{{i==0?'active':''}}" ic-role-type-item>
                            <a class="inline wp-100 fc-k1" target="_blank" ic-href="/stock/profile/{{v.code}}">
                                <span class="inline search-code" ic-bind="GLOBAL.util.codeFormat(v.code)"></span>
                                <span class="inline" ic-bind="v.name"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

      {#if !$acct_uid#}
        <div class="inline lg-60 vm">
            <a href="javascript:toLogin();" class="btn btn-0-2 t-14-1-y1" style="margin:0 15px;">{#text key='newwebsite.sign_in'#}</a>
            <b class="inline" style="border-left:solid 1px #ced1d6; height: 36px; vertical-align: middle; "></b>
            <a href="{#$account_url#}/user/register" class="btn btn-0-1 t-14-1-k1" style="margin:0 15px;">{#text key='newwebsite.sign_up'#}</a>
        </div>
        {#else#}
        <div class="inline" ic-dropdown="user">

            <a href="#" class="inline t-14-1-y1"
               style="padding: 0 1em; line-height:60px; height:60px; overflow: hidden;" ic-role-dropdown-toggle>
                <b class="vm">用户</b>&nbsp;&nbsp;
                <i class="icon icon-triangle-01"></i>
            </a>
            <ul class="menu-3-1 fz-12" ic-role-dropdown-menu>
              <!--   <li><a href="#">帐号信息</a></li>
                <li><a href="#">更改密码</a></li> -->
                <li><a href="#">联系客服</a></li>
                <li><a href="{#$account_url#}/user/logout">登出帐号</a></li>
            </ul>

        </div>
        {#/if#}

        <div class="inline lg-60 vm" style="margin:0 15px;">
        {#if $language eq 'szh'#}

            <a href="{#$homepage#}?lang=en" class="btn btn-0-1 t-14-1-k1">EN</a>

        {#elseif  $language eq 'en'#}
            <a href="{#$homepage#}?lang=szh" class="btn btn-0-1 t-14-1-k1">中文</a>

        {#/if#}
        </div>

    </div>

    <nav id="nav-box">
        <div id="nav-wrap">
            <ul class="inline-list v-top fl">

                <li><a {#if $uri == NULL#}class="active" {#/if#} href="/">{#text key='newwebsite.home'#}</a></li>
                <li><a {#if $uri|strstr:'stock/profile'#}class="active" {#/if#} href="/stock/profile/">{#text key='newwebsite.stocks'#}</a></li>
                <li><a {#if $uri|strstr:'indussum'#}class="active" {#/if#} href="/indussum/">{#text key='newwebsite.rankings'#}</a></li>
                <li><a {#if $uri|strstr:'shhk'#}class="active" {#/if#} href="/shhk/">{#text key='newwebsite.shhk'#}</a></li>
              <!--   <li><a href="#">{#text key='newwebsite.otc'#}</a></li> -->
                <!-- <li><a href="/sam/">{#text key='newwebsite.information'#}</a></li> -->
                <li><a {#if $uri|strstr:'center'#}class="active" {#/if#} href="/center/">{#text key='newwebsite.personal'#}</a></li>
            </ul>
            <div class="inline v-top fr">
                <a href="/download/plug">{#text key='newwebsite.plug'#}</a>
                <a href="/download/app"><i class="icon icon-phone"></i> &nbsp;{#text key='newwebsite.app'#}</a>
            </div>
        </div>
    </nav>

</header>