{#if !$acct_uid#}
<div id="reg-prompt-box" class="hc fc-1">
    <div class="inline">
        <div>还没有数库账号？想获得更多数据？</div>
        <div class="fz-20">立即注册，拥有前所未有</div>
    </div>

    <a href="{#$account_url#}/user/register/?forward={#$current_url#}" target="_blank"  class="btn btn-1-1 fz-20 fy-1 lg-24" style="margin-top:3px;margin-left:15px;">免费注册</a>

    <!-- 登录弹出框 -->
    <div class="dialog" ic-dialog="login" style="width:480px;">
        <button class="btn btn-close icon icon-x-black" ic-rold-dialog-close></button>
        <!--<link rel="import" href="login.html?__inline">-->
        <iframe src="{#$account_url#}/user/iframe?forward={#$current_url#}" style="border:none; height: 400px;width:480px;"></iframe>
    </div>
</div>
{#/if#}

<footer id="footer" class="fy-1">

    <div class="wrap-1000">
        <div id="csf" class="inline v-top br-1 hc" style="width: 180px;">
            <a href="http://www.chinascopefinancial.com.cn/" target="_blank">
                <i class="icon icon-csf"></i>
            </a>
            <hr class="hr-1" style="margin-top:1em;padding-bottom: 10px;">
            <a href="http://www.shukugang.com" target="_blank">
                <i class="icon icon-logo"></i>
            </a>
        </div>

        <div id="site" class="inline v-top br-1 hc" style="width:100px;">
            <ul>
                <li><a href="#" target="_blank" >关于数库</a> </li>
                <li><a href="#" target="_blank" >产品介绍</a> </li>
                <li><a href="#" target="_blank" >加入我们</a> </li>
                <li><a href="#" target="_blank" >版权声明</a> </li>
            </ul>
        </div>

        <div id="interface" class="inline v-top br-1">
            <h4>关注我们</h4>
            <ul class="inline-list">
                <li><a href="#" target="_blank"  class="inline"><i class="icon icon-wx"></i></a> </li>
                <li><a href="http://weibo.com/u/2604207743" target="_blank"  class="inline"><i class="icon icon-wb"></i></a> </li>
                <li><a href="https://plus.google.com/u/0/111950966798788479408/posts" target="_blank"  class="inline"><i class="icon icon-g"></i></a> </li>
                <li><a href="https://twitter.com/#!/tweetchinascope" target="_blank"  class="inline"><i class="icon icon-tt"></i></a> </li>
                <li><a href="https://www.facebook.com/ChinaScopeFinancial" target="_blank"  class="inline"><i class="icon icon-f"></i></a> </li>
                <li><a href="http://www.linkedin.com/company/chinascope-financial" target="_blank"  class="inline"><i class="icon icon-i"></i></a> </li>
            </ul>
        </div>

        <div id="sky" class="inline v-top br-1 hc" style="width: 200px;">
            <h4>数库云</h4>
            <br/>
            <a href="http://www.shukuyun.com" target="_blank">
                <i class="icon icon-sky"></i>
            </a>
        </div>

        <div id="et" class="inline v-top hc" style="width:110px;">
            <h4>企业时间</h4>
            <a href="http://www.25qr.com/" target="_blank"  class="inline"><i class="icon icon-et"></i></a>
        </div>


        <div id="partner">
            <h4 class="fc-b4">合作伙伴</h4>
            <ul class="inline-list">
                <li><a href="http://finance.sina.com.cn" target="_blank"><i class="icon icon-xlcj"></i></a> </li>
                <li><a href="http://www.eeo.com.cn/" target="_blank"><i class="icon icon-jjgcb"></i></a> </li>
                <li><a href="http://www.spdb.com.cn/" target="_blank"><i class="icon icon-pfyh"></i></a> </li>
            </ul>
        </div>

        <p class="mt-15 hc t-4">© 2014 ChinaScope Financial All Rights Reserved</p>
         <p class="mt-15 hc t-4">数库隶属于慧衡财务管理咨询（上海）有限公司</p>
    </div>

</footer>
