#reg-prompt-box{
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 68px;
    padding:20px 0 0 0;
    background: url(_reg-bg.png?__sprite) no-repeat 50% 0;
}

#footer{
    border-top:solid 4px #ff9915;
    padding:20px 0 30px 0;
}
#footer h4{
    font-size: 16px;
    font-weight: bold;
    margin:0 0 10px 0;
}
#site, #interface, #et, #csf, #sky{
    width:180px;
    height: 160px;
    padding: 10px 20px;
}

#site li{
    margin:15px 20px 0 0;
}
#site a{
    color: #000f3f;
}
#interface li{
 margin:0px 10px 0 0;
}

#partner{
    padding-top:40px;
    width:480px;
}
#partner li{
    margin:0 15px 0 0;
}
#et{
}