<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <link rel="stylesheet" href="../../../css/vendor/normalize.css">
    <link rel="stylesheet" href="../../../css/vendor/main.css">
    <link rel="stylesheet" href="../../../css/common/common.css">
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="../../../css/common/ie-hack.css">
    <![endif]-->
    <link rel="stylesheet" href="include/style.css?__inline">
    <!-- 如果是英文版本，则输出英文版本css补丁 -->
    <link rel="stylesheet" href="../../../css/common/common-en.css">
    <script data-position="head" src="../../../js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>

<div id="wraper">


    <div id="mainbody">

            <div class="a">
                <div class="wrap-1000" style="position:relative; height: 100%;">
                    <a href="#" target="_blank" class="btn iphone" style="position:absolute; top:330px; left:320px;">
                        <i class="icon icon-down-iphone"></i>
                    </a>

                    <a  href="#" target="_blank" class="btn android" style="position:absolute; top:415px;left:320px;">
                        <i class="icon icon-down-android"></i>
                    </a>
                </div>

            </div>
            <div class="c"></div>
            <div class="d"></div>
            <div class="e"></div>

    </div>


</div>

</body>
</html>
